.XIII {
	margin: 0;
	padding: 0;
}

.imgop {
	opacity: 0.8;
}

.border {

	border:2px solid #6495ED;
}

table tr td{

	border:2px solid #C8C8C8;
}

stasis{
	background-image: url("Umback.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed
}
div::after {
  content: "";
  background: url("Umback.jpg");
  opacity: 0.1;
  padding-bottom: 400px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-size:1520px: 1640px;
  background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.Bluebox {
	background-color: #4166F5;
	height: 150px;
	line-height: 150px;
}
